<div class="jumbotron">
  <div class="container"> 
    <%= form_tag(popular_products_path, :method => :get) do %>
      <%= select_tag 'category_id', options_for_select(Category.all.map{ |category| [category.name,category.id]}), {:prompt => "All Categories",:id=>"soflow",onchange: "this.form.submit();"} %>
    <% end %>
    <h4>Bright new ideas, handpicked by us.</h4>
    <h4 class="marginTop20 regularfont">Refine search</h4>
  </div>
</div>

                  
<!-- Recommended-->
<div class="">
  <div class="container">
    <h3 class="regularfont">Explore <%= @products.count %> live projects</h3>

      <div class="row marginTop20"> 
        <% @products.each do |product| %>
          <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
              <% if product.image.content_type.nil? %>
                <%= link_to product_path(product) do %>
                  <%= image_tag "pic1.jpg" %>
                <% end %>
              <% else %>
                <%= link_to product_path(product) do %>
                  <%= image_tag product.image.url(:large),:class=>"products_image" %>
                <% end %>
              <% end %>
              <div class="caption">
                <h5 class="regularfont"><%= link_to product.short_description.slice(0,55),product_path(product) %></h5>
                <p>by <%= product.user.name %></p>

                <p class="marginTop10"><%= product.description.slice(0,130) %></p>

                <p class="marginTop20">
                  <span><%= fa_icon "map-marker" %>  <%= product.location %>  </span>
                </p>
                <div class="progress customPrograss">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="sr-only">0% Complete (success)</span>
                  </div>
                </div>
              </div>

              <ul class="packages">
                <li>
                  <strong class="displayBlock">0%</strong>
                  <span>funded</span>
                </li>
                <li>
                  <strong class="displayBlock">$<%= product.funding_goal %></strong>
                  <span>Goal</span>
                </li>
                <li>
                  <strong class="displayBlock">60</strong>
                  <span>days to go</span>
                </li>
              </ul>
            </div> <!-- thumbnail -->
          </div> <!-- col-md-3 -->
        <% end %>
      </div> <!-- row --> 

  </div> <!-- container -->
</div>
<!-- Recommended-->



